/* Início do Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Final do Reset*/

html {
    scroll-behavior: smooth; /*para subir suavemente*/
}

/* Início das Cores */
:root {
    --Branco: #fff;
    --Azul: #00a3b4;
    --orangered: #ff4500;
    --primary: #fff;
    --secondary: #00a3b4;
    --bg: #f5f5f5;
    --gold: #ffd700;
}
/* Final das Cores */

/* Início do Menu */
a {
    color: var(--Branco);
    text-decoration: none;
    transition: 0.3;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: var(--Azul);
    height: 12vh;
    align-items: center;
    width: 100%;
    z-index: 700;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-list li {
    margin-left: 35px;
}

li > i {
    color: var(--Branco);
}

.boxSearch {
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    height: 35px; 
    border-radius: 25px;
    font-size: 20px;
    position: relative;
} 

.search {
    border: none; 
    height: 100%;
    width: 100%;
    padding-left: 20px;
} 

input.search {
    border-radius: 5px;
    outline: none;
} 

.fa-magnifying-glass {
    position: absolute;
    margin-left: 90%;
    transform: translateY(40%);
    cursor: pointer;
    color: var(--orangered);
}

.fa-user,
.fa-cart-shopping {
    margin-right: 5px;
}
/* Final do Menu */

/* Inicio da section do video */
.fundo-video {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    z-index: 5;  
    user-select: none;
    mix-blend-mode: screen;
}
/* Fim da section do video */

/* Início do SlideShow */
 .main-slide {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Branco);
}

.slide {
    width: 1200px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    transform: all 0.4;
}

.slides {
    width: 6000px; /* tamanho de todas as imagens juntas */
     display: flex;
}

.image img {
    width: 1200px;
    height: 300px;
}

#atual {
    transition: all 2s;
}

.btn {
    position: absolute;
    color: var(--Azul);
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 4em;
    margin-top: -5px;
}

.btn:hover {
    transform: scale(1.5);
}

#back {
    top: 45%;
    left: 1%;
}

#next {
    top: 45%;
    right: 1%;
}

.balls {
    position: absolute;
    width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.balls div {
    transition: all 0.5;
    border: 1px solid #696969;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
} 

.balls div:hover {
    background: #696969;
}

.imgAtual {
    transition: all 0.5s;
    background: var(--Azul);
} 
/* Final do SlideShow */

/* Início de Produtos */
.slider {
    background-color: var(--bg);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    font: normal 1rem sans-serif;
}

.card {
    overflow: hidden;
    position: relative;
    width: 17rem;
    height: 23rem;
    background-color: var(--primary);
    border-radius: 1rem;
    border: .1rem solid transparent;
    box-shadow: 0 .2rem .6rem #0003;
    transition:  .5s ease-in-out;
    /* color:  var(--Branco); */
}

.card:hover {
    border: .1rem solid var(--secondary);
    transform: scale(1.05);
}
 /*circulo*/
.card::before, .card::after {
    position: absolute;
    content: '';
    background-color: var(--secondary);
    border-radius: 50%;
    transition:  .5s ease-in-out;
    z-index: 100;
}

.card::before {
    top: -6%;
    right: -6%;
    width: 9rem;
    height: 9rem;
}

.card::after {
    bottom: -6%;
    left: -6%;
    width: 5rem;
    height: 5rem;
}

.card:hover::before { 
    transform: scale(1.8);
}

.card:hover::after { 
    transform: scale(0);
}
/*circulo*/

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 200;
}

.card-img,
.card-title {
    transform: translateY(4rem);
    transition: .5s ease-in-out;
}

.card-img {
    width: auto;
    height: 9.5rem;
}

.card-title {
    font-size: 1rem;
    transition-delay: .2s;
}

.card-body,
.card-footer {
    transform: translateY(8rem);
    transition: .5s ease-in-out;
}

.card-body {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition-delay: .2s;
}

.card:hover .card-img,
.card:hover .card-title,
.card:hover .card-body,
.card:hover .card-footer {
    transform: translateY(0);
}

.card-footer {
    transition-delay: .3s;
}

.star {
    font-size: 1.4rem;
    color: var(--gold);
}

.card-price {
    font: bolder 1.5rem sans-serif;
}

.botao {
    padding: 1rem 1rem;
    background-color: unset;
    border: none;
    outline: none;
    border-radius: 2rem;
    /* color: var(--Branco); */
    cursor: pointer;
}

.botao-buy {
    background-color: var(--secondary);
}

.botao-add {
    border: .1rem solid var(--secondary);
}
main > h3 {
    margin: 2rem;
    font-size: 2rem;
}
/* Fim de Produtos */

/* Início do Slide Logo */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slide-logo-box {
    margin: 4rem 0;
    align-items: center;
    justify-content: center;
}

.slide-logo {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slide-logo .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slide-logo .slide-img {
    height: 100px;
    width: 250px;
}
/* Final do Slide Logo */

/* Inicio do Footer */
/* footer .sobre,
footer .duvidas,
footer .servicos{
    display: flex;
   
    justify-content: space-between;
} */
footer .sobre {
    color: red;
}

/* Fim do Footer */

/*Inicio do botão para subir ao topo*/
.subir {
    background: #888;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--cinza);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    z-index: 500;
}

.subir.active { 
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}/*Fim do botão para subir ao topo*/

/*Inicio da barra de rolagem*/
::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/*Fim da barra de rolagem*/